# Somnia RPC endpoint
SOMNIA_RPC_URL=

# Deployer private key (0x...)
DEPLOYER_PRIVATE_KEY=

# Somnia Agent Platform contract address
SOMNIA_PLATFORM_ADDRESS=0x7407cb35a17D511D1Bd32dD726ADb8D5344ECbE3
